.title {
    text-align: center;
    vertical-align: middle;

    font-size: 48px;

    padding: 0px;
    margin: 0px;
}

.descTitle {
    padding: 0;
    padding-top: 50px;
    margin: 0;
}

bold {
    font-weight: 1000;
}

#member {
    text-align: center;
    vertical-align: middle;

    font-style: italic;
    font-size: 10px;
}

#activity {
    width: 100%;
    text-align: center;
    color: red;

    padding-top: 0;
    font-style: italic;
}

#lessPadding {
    margin-top: 0;
}

.mainDesc {
    display: inline-block;
}

.mainDesc {
    min-height: 120px;
}