.adminOption {
    display:inline-table;

    width: 50%;

    padding-bottom: 50px;

    text-align: center;
}

.optionButton {
    width: 80%;
    height: 120px;

    background-color: rgba(255, 201, 6, 0.5);
    color: white;

    font-size: 24px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    overflow: hidden;

    white-space: initial;

    border-radius: 12px;
    line-height: 25px;

    cursor: pointer;
}

.adminBackButton {
    width: 80%;
    height: 50px;

    margin-left: 10%;
    margin-right: 10%;

    background-color: rgba(255, 201, 6, 0.5);
    color: white;

    font-size: 24px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    overflow: hidden;

    white-space: initial;

    border-radius: 12px;
    line-height: 25px;

    cursor: pointer;
}

@media screen and (max-width: 1500px) {
    .optionButton {
        font-size: 20px;
    }
}

.createRSO {
    font-size: 24px;
}

.createRSO input {
    width: calc(100% / 3);
    font-size: 24px;

    border-radius: 8px;
    margin-bottom: 8px;
}

.createRSO textArea {
    width: calc(100% / 3);
    height: 200px;
    font-size: 24px;

    border-radius: 8px;
    margin-bottom: 8px;
}

.createRSO #labelName {
    margin-left: 43pt;
}

.createRSO #label {
    display: inline-table;
    width: calc(100% / 3);
}

.createRSO label {
    padding-inline: 4pt;
    float: right;
    vertical-align: middle;

    line-height: 25px;
}