.dothing {
    text-align: center;

    font-size: 24px;
}

#whatdo {
    text-align: center;
}

.result {
    font-size: 24px;
    
    width: 100px;
    height: 200px;
}

#submit {
    font-size: 28px;
    width: 200px;
}

#passwordText {
    padding-left: 5pt;
}

.dothing input {
    font-size: 24px;

    border-radius: 8px;
}